@charset "UTF-8";

:root{
        --fonte-android: 'robo', 'cursive'   
    }
       
    body{
        background-color: #84E1AD;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
    }
    body p{
        font-size: 20px;
        text-indent: 2em;
        text-align: justify;
        line-height: 2em;
    }
    body a{
        color:#154B2D;
        font-weight:bolder
    }
    article strong{
        color:#154B2D;
        background-color: #3DDA84;
        font-weight: bolder;
        padding: 3px 6px;
    }

    #cabecalho {
        height:200px;
        padding-top: 30px;
        padding-bottom: 15px;
        text-align: center;
        background: linear-gradient(to top, #154B2D, #3DDA84);
        color:white;
        font-family:Arial, Helvetica, sans-serif;
}
    #cabecalho p{
        margin: auto;
        text-align: center;
    }
    #cabecalho h1{
        font-size: 3em;
    }
    #menu{
        padding: 10px;
        background-color: #154B2D;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.397);
        display:flex;
        gap:15px;


        
    }
    #menu a {
        text-decoration: none;
        margin-right:15px;
        color:white;
        font-size: 18px;
        font-weight: bolder;
       transition-duration: .5s;
       padding: 10px;
    }
    #menu a:hover {
        text-decoration-line: underline;
        background-color: #3DDA84;
    }
    @font-face {
            font-family: robo;
            src: url(fontes/idroid.otf);
        }
    #titulo{
        font-family: var(--fonte-android);
        color: #3B7355;
        font-size: 3em;
    }
    .artigo{
         width: 90%;          /* largura da box */
    min-width: 300px;
    max-width: 1000px;   /* largura máxima */
    margin: 20px auto; 
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);

    }
    .subtitulos{
        font-family: var(--fonte-android);
        color: #3B7355;
        font-size: 2em; 
        background-image: linear-gradient(to right, #84e1ac80, transparent);
    }
    img{
        display:block;
        margin:auto;
        max-width: 100%;     /* opcional, para não ultrapassar a tela */
        
    }
    .boxvideo{
        width: 90%;
        min-height: 500px;
        max-width: 1000px;
        margin: auto;
        padding:20px;
        background-color:#154B2D;
    }
    .boxvideo iframe{
        width: 100%;
        height: 100%;
        min-height: 500px;
        max-width: 1000px;
        display: block;
        }
    aside{
        background-color:#84E1AD;
        min-height:200px;
        border-radius: 15px;
    }
    aside p{
        font-weight: bold;
        padding: 15px;
    }
    aside > ul{
        list-style-type: '\2714\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    }
    aside > h3{
        font-weight: bolder;
        font-size: 1.2em;
        padding: 15px;
        color: white;
        background-color:#3B7355;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    footer{
        text-align: center;
        color: white;
        background-color: #154B2D;
        padding: 10px;
    }
    footer strong{
        font-weight: bolder;
        font-style: oblique;
    }