@charset "UTF-8";

/*Todas as demais mídias*/

/* Typical Device Breakpoints
---------------------------------
Pequenas telas: ate 600px
Celular : de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
after
*/

@media print { /*TABLET*/

    main {
        border: 1px solid black;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        color:black
    }
    img#phone { display:none;}
    img#tablet { display:none;}
    img#print { display:block;}
    img#pc { display:none;}
    img#tv { display:none;}

    main::after {
        content:"Essa impressão serve apenas para estudos, obrigado!";
        text-decoration: overline;
    }
}

@media screen and (min-width:768px) and (max-width:992px) { /*TABLET*/
    body {
    background-image:url(../imagens/back-tablet.jpg)
    }
    img#phone { display:none;}
    img#tablet { display:block;}
    img#print { display:none;}
    img#pc { display:none;}
    img#tv { display:none;}

}

@media screen and (min-width:992px) and (max-width: 1200px) { /*DESKTOP*/
    body {
        background-image:url(../imagens/back-pc.jpg); 
    }
    img#phone { display:none;}
    img#tablet { display:none;}
    img#print { display:none;}
    img#pc { display:block;}
    img#tv { display:none;}
}

@media screen and (min-width: 1200px) { /*GRANDES TELAS*/
    body {
        background-image:url(../imagens/back-tv.jpg);
    }
    img#phone { display:none;}
    img#tablet { display:none;}
    img#print { display:none;}
    img#pc { display:none;}
    img#tv { display:block;}
}