@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #014040, #02735E, #03A678);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #015041;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #4b0f01;
    color: #731702
    
}

h2 {
    color:#F27405
}

p {
    text-align:  justify;
}