@charset "UTF-8";

body{
    background-color: #238037;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h1{
    color: #6b3006;
}
h2{
    color: #946746;
}
h1#principal{
    color:rgb(255, 2, 2);
    text-align: center;
    background-color: rgb(21, 153, 87);
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgb(109, 9, 9);
}

.basico{
    color:aquamarine
}
.intermediario{
    color:rgb(253, 255, 127)
}
.avancado{
    color:rgb(146, 194, 35)
}

.principal2{
    color:rgb(5, 252, 26);
    text-shadow: 3px 3px 3px #0f461b;
}
.destaque{
    background-color: rgba(131, 226, 43, 0.185);
}
